:host {
	display: inline-block;
	position: relative;

	>label {
		display: block;
		margin-bottom: 2px;
		font-size: 12px;
		font-weight: bold;
		line-height: 20px;
		color: rgba(18, 42, 53, 0.9);
	}

	>div {
		position: relative;

		>div {
			position: absolute;
			display: flex;
			align-items: center;
			padding: 0.25em 1em;
			top: 0;
			bottom: 0;
			color: var(--app-placeholder-color);
		}

		>input {
			padding: 5px 5px 6px 40px !important;
			margin-bottom: 7px;
			background-color: var(--contol-background-color);
			border: 2px solid #999;
			font-size: 16px;
			color: var(--control-text-color);
			border-radius: 7px;
			line-height: 1.2;
			width: 100%;
			text-indent: 10px;
			font: inherit;
			margin: 0;
			stroke: none;
			pointer-events: initial;


			&::-webkit-input-placeholder {
				color: var(--control-placeholder-color);
			}

			&:focus-visible {
				outline: none;
				border: 2px solid var(--control-focus-color);
			}
			
		}
	}
}

:host(.readonly) {
	>div>input {
		background-color: #f3f3f3;
	}
}

:host(.auth-input) {
	>div>input {
		padding-left: 0px !important;
	}
}

.disabled{
	pointer-events: none !important;

}