<header>
    <ul class="header-links">
        <li class="text" [routerLink]="'/main'" routerLinkActive="active-link">
            <span>Main</span>
        </li>
    </ul>
    <div class="user-wrapper">
        <ng-container *ngIf="userInfo; else noLogin">
            <div class="row-icon" [routerLink]="'/user_page'" routerLinkActive="active-link" >
                <app-icon>account_circle</app-icon>
                <span class="text">{{userInfo.login}}</span>
            </div>
            <app-icon [routerLink]="'/login'" (click)="logout()" class="log-out">logout</app-icon>
        </ng-container>
    </div>
</header>

<ng-template #noLogin>
        <div class="no-login text" [routerLink]="'/registration'">
            <span>Sign up</span>
        </div>
        <div class="no-login text" [routerLink]="'/login'">
            <span>Log in</span>
        </div>
</ng-template>