<app-header-component></app-header-component>
<main>
  <section class="wrapper-image" id="sec-1f14">

  <div class="flex-container">
    
    <div class="label-block">
      <p class="">BUSPARK</p>
      <h1>Bus trips in Ukraine</h1>
    </div>

    <div class="wrapper-form">
      <h2>Check free seats</h2>
        <form class="u-form form-inline simplecallback ">
          <div class="inputs-form">

            <div class="row">
              <div class="input-text">
                  <app-select-box [appDataSource]="options" ngDefaultControl [formControl]="mainForm.controls['arrival_point']"  [form]="mainForm.controls['arrival_point']"></app-select-box>
                  <span class="required">*</span>
              </div>
    
              <div class="input-text">
                <label>
                  <span class="required">*</span>
                  <app-date-box [placeholder]="'Куда'" ngDefaultControl [formControl]="mainForm.controls['journey_date']" ></app-date-box>
               </label>
              </div>
            </div>

            <div class="row">
              <div class="input-text">
                  <span>
                      Number of free seats: 
                  <span>{{numberOfSeats}}</span>
                  </span>
              </div>
    
              <div class="input-text">
                <span>
                   Cost of one: 
                  <span>{{oneTicketCost}}</span>
                </span>
              </div>
            </div>

            <div class="row">
              <div class="input-text">
                  <app-text-box [placeholder]="'Number of tickets'" [appInputType]="'int'" ngDefaultControl [formControl]="mainForm.controls['quantity_of_seats']"></app-text-box>
                  <span class="required">*</span>
              </div>
    
              <div class="input-text">
                <span>
                  Cost: 
                </span>
                <span *ngIf="oneTicketCost; else noData">{{ oneTicketCost * mainForm.controls['quantity_of_seats'].value }}</span>
              </div>
            </div>

          </div>
          <div class="control-group">
            <button type="button" class="button button-big" (click)="bookTicket(mainForm.value)">Book</button>
            <button *ngIf="false" type="button" class="button button-big">Book</button>
          </div>
        </form>
    </div>
  </div>
</section>
</main>
<ng-template #noData>
  <span></span>
</ng-template>
<section class="u-clearfix u-custom-color-1 u-section-3" id="sec-260c">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h3 class="u-align-center u-text u-text-palette-1-base u-text-1">Our advantages</h3>
    <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-col">
          <div class="u-size-30">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <div alt="" class="u-image u-image-circle u-image-contain u-image-1" data-image-width="80" data-image-height="80"></div>
                  <h5 class="u-align-center u-text u-text-grey-70 u-text-2">COMFORTABLE</h5>
                  <p class="u-align-center u-text u-text-3">Our buses are  luxury vehicles equipped with everything you need for long journeys.</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-top u-container-layout-2">
                  <div alt="" class="u-image u-image-circle u-image-2" data-image-width="80" data-image-height="80"></div>
                  <h5 class="u-align-center u-text u-text-grey-70 u-text-4">SAFE</h5>
                  <p class="u-align-center u-text u-text-5">The BusPark company is experienced drivers with many years of experience on tourist buses, who undergo timely maintenance at specialized service centers.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-size-30">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-3">
                <div class="u-container-layout u-valign-top u-container-layout-3">
                  <div alt="" class="u-image u-image-circle u-image-3" data-image-width="80" data-image-height="80"></div>
                  <h5 class="u-align-center u-text u-text-grey-70 u-text-6">RELIABLE</h5>
                  <p class="u-align-center u-text u-text-7">We serve thousands of passengers every month, which indicates the high quality and reliability of our company.</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-4">
                <div class="u-container-layout u-valign-top u-container-layout-4">
                  <div alt="" class="u-image u-image-circle u-image-4" data-image-width="80" data-image-height="80"></div>
                  <h5 class="u-align-center u-text u-text-8">AFFORDABLE</h5>
                  <p class="u-align-center u-text u-text-9">We have been working on the market for more than 10 years, and during this time we have made transport rental an affordable service - now everyone can use the BusPark service and at the same time save.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>