<main>
  <section class="wrapper-image" id="sec-1f14">

  <div class="flex-container">
    
    <div class="label-block">
      <p class="">UKRBUSTOUR</p>
      <h1>Пассажирские перевозки по Одессе, Украине и Европе</h1>
    </div>

    <div class="wrapper-form">
      <h2>Запрос стоимости аренды</h2>
        <form enctype="multipart/form-data" id="simplecallback-98"
          action="/index.php?option=com_ajax&amp;module=simplecallback&amp;format=json"
          class="u-form form-inline simplecallback " method="post" data-simplecallback-phone-mask="+38 (999) 999-99-99"
          data-simplecallback-form="">

          <div class="inputs-form">

            <div class="row">
              <div class="input-text">
                  <app-select-box [appDataSource]="options" ngDefaultControl [formControl]="mainForm.controls['arrival_point']"  [form]="mainForm.controls['arrival_point']"></app-select-box>
                  <span class="required">*</span>
              </div>
    
              <div class="input-text">
                <label>
                  <span class="required">*</span>
                  <app-date-box [placeholder]="'Куда'" ngDefaultControl [formControl]="mainForm.controls['journey_date']" ></app-date-box>
               </label>
              </div>
            </div>

            <div class="row">
              <div class="input-text">
                  <span>
                      Number of free seats: 5
                  </span>
              </div>
    
              <div class="input-text">
                <span>
                   Cost of one: 10$
                </span>
              </div>
            </div>

            <div class="row">
              <div class="input-text">
                  <app-text-box [placeholder]="'Number of tickets'" [appInputType]="'int'" ></app-text-box>
                  <span class="required">*</span>
              </div>
    
              <div class="input-text">
                <span>
                  Cost: 20$
                </span>
              </div>
            </div>

          </div>
          <div class="control-group">
            <button type="submit" class="button button-big">Book</button>
            <button *ngIf="false" type="submit" class="button button-big">Book</button>
          </div>
        </form>
    </div>
  </div>
</section>
</main>