.wrapper-image {
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://ukrbustour.od.ua/images/nicepage-images/maintop.jpg);
    background-attachment: fixed;
    background-position: 50% 0px, 50% 0.791367vh;
    overflow: visible;
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    font-family: var(--app-font-family-opensans);
    --effect-scale: 1.1;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--app-white-color);
    margin-top: 200px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1140px;
    height: 100%;
    padding-bottom: 70px;
}

.label-block {
    position: relative;
    flex: 1;
    padding: 30px 0;
    max-width: 38%;
}

.label-block > p {
    font-family: var(--app-font-family-motserrat);
    color: var(--app-white-color);
    margin-top: 180px;
    font-size: 2.77778rem;
    letter-spacing: 0.2px;
    font-weight: 300;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    margin-bottom: 0;
    line-height: 1;
}

.label-block > h1 {
    font-family: var(--app-font-family-motserrat);
    font-size: 1.16667rem;
    font-weight: 400;
    line-height: 1.2;
    background-image: none;
    margin: 20px 90px 0 0;
}

.wrapper-form {
    background-color: var(--app-white-color);
    padding: 20px;
    border-radius: 5px;
    width: 607px;
    height: 382px;
}

.wrapper-form > h2 {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.2;
    padding-left: 20px;
    font-weight: 400;
    font-family: var(--app-font-family-motserrat);
    padding-right: 20px;
    margin-top: 20px;
    color: #192b52 !important;
    word-wrap: break-word;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.required {
    position: absolute;
    margin-left: -10px;
    color: red;
    left: 0;
    font-size: 1rem;
    line-height: 1.2;
}

.input-text {
    position: relative;
    text-align: left;
    width: 262px;

    >span {
        font-size: 0.888889rem;
        line-height: 1.2;
        font-family: var(--app-font-family-opensans);
        color: var(--control-text-color);
    }
}

app-text-box,
app-date-box {
    width: 262px;
}

button {
    margin-top: 90px;
}



/*Второй блок */

.u-section-3 {
    background-image: none;
}
body, aside, .u-sidebar-block, section, header, footer {
    position: relative;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.u-section-3 .u-container-layout-1 {
    padding: 50px 20px 0;
}

.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
div {
    display: block;
}
.u-tabs:not([class*="u-align-"]), .u-accordion:not([class*="u-align-"]), .u-repeater-item:not([class*="u-align-"]), .u-container-style:not([class*="u-align-"]) {
    text-align: left;
}
.u-section-3 .u-image-1 {
    width: 80px;
    height: 80px;
    background-image: url(https://ukrbustour.od.ua/images/nicepage-images/comfort.png);
    background-position: 50% 50%;
    box-shadow: 0 7px 15px 0 rgba(128,128,128,0.8);
    margin: 0 auto;
}
.u-image-circle.u-image {
    border-radius: 50% !important;
}
.u-back-image.u-image-contain, .u-image.u-image-contain {
    object-fit: contain;
    background-size: contain;
}
.u-overlap.u-overlap-transparent .u-header, .u-image, .u-gradient {
    color: #444444;
}
.u-inner-container-layout, .u-container-layout > * {
    position: relative;
}
.u-image{
    display: block;
    vertical-align: middle;
}
*, *:before, *:after {
    box-sizing: border-box;
}
u-container-style:not([class*="u-align-"]) {
    text-align: left;
}
.u-section-3 .u-text-2 {
    font-size: 1.16667rem;
    margin: 15px 0 0;
}
.u-body h1, .u-body h2, .u-body h3, .u-body h4, .u-body h5, .u-body h6 {
    padding: 0;
}
.u-text-grey-70, li.active > a.u-button-style.u-text-grey-70, li.active > a.u-button-style.u-text-grey-70[class*="u-border-"], a.u-button-style.u-text-grey-70, a.u-button-style.u-text-grey-70[class*="u-border-"] {
    color: #4d4d4d !important;
}
.u-text {
    word-wrap: break-word;
    position: relative;
}

.u-align-center {
    text-align: center;
}
.u-section-3 .u-text-3 {
    line-height: 1.2;
    margin: 15px 0 0;
}
p:not(.u-text-variant) {
    color: #444444;
}
.u-section-3 .u-container-layout-2 {
    padding: 50px 20px 0;
}
.u-valign-top {
    justify-content: flex-start;
}
.u-valign-middle, .u-valign-top, .u-valign-bottom {
    display: flex;
    flex-direction: column;
}
.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.u-container-style:not([class*="u-align-"]) {
    text-align: left;
}
.u-sheet:not(.u-image):not(.u-video) > * {
    pointer-events: initial;
}
.u-section-3 .u-image-2 {
    width: 80px;
    height: 80px;
    background-image: url(https://ukrbustour.od.ua/images/nicepage-images/safety.png);
    background-position: 50% 50%;
    box-shadow: 0 7px 15px 0 rgba(128,128,128,0.8);
    margin: 0 auto;
}
.u-image-circle.u-image {
    border-radius: 50% !important;
}
.u-overlap.u-overlap-transparent .u-header, .u-image, .u-gradient {
    color: #444444;
}
.u-valign-top > *, .u-valign-bottom > * {
    flex-shrink: 0;
}
.u-inner-container-layout, .u-container-layout > * {
    position: relative;
}
.u-image, .u-background-effect-image, .u-video-poster {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.u-section-3 .u-text-4 {
    font-size: 1.16667rem;
    margin: 15px 0 0;
}
.u-body h1, .u-body h2, .u-body h3, .u-body h4, .u-body h5, .u-body h6 {
    padding: 0;
}
.u-text-grey-70, li.active > a.u-button-style.u-text-grey-70, li.active > a.u-button-style.u-text-grey-70[class*="u-border-"], a.u-button-style.u-text-grey-70, a.u-button-style.u-text-grey-70[class*="u-border-"] {
    color: #4d4d4d !important;
}
u-align-center {
    text-align: center;
}
.u-valign-middle > *, .u-valign-top > *, .u-valign-bottom > * {
    flex-shrink: 0;
}
.u-section-3 .u-text-5 {
    line-height: 1.2;
    margin: 15px 0 0;
}
.u-section-3 .u-container-layout-2 {
    padding: 50px 20px 0;
}
.u-valign-top {
    justify-content: flex-start;
}
.u-valign-middle, .u-valign-top, .u-valign-bottom {
    display: flex;
    flex-direction: column;
}
.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.u-section-3 .u-container-layout-3 {
    padding: 50px 20px 0;
}
.u-valign-top {
    justify-content: flex-start;
}
.u-valign-middle, .u-valign-top, .u-valign-bottom {
    display: flex;
    flex-direction: column;
}
.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.u-section-3 .u-image-3 {
    width: 80px;
    height: 80px;
    background-image: url(https://ukrbustour.od.ua/images/nicepage-images/recom.png);
    background-position: 50% 50%;
    box-shadow: 0 7px 15px 0 rgba(128,128,128,0.8);
    margin: 0 auto;
}
.u-image-circle.u-image {
    border-radius: 50% !important;
}
.u-overlap.u-overlap-transparent .u-header, .u-image, .u-gradient {
    color: #444444;
}
.u-section-3 .u-text-6 {
    font-size: 1.16667rem;
    margin: 15px 0 0;
}
.u-body h1, .u-body h2, .u-body h3, .u-body h4, .u-body h5, .u-body h6 {
    padding: 0;
}
.u-text-grey-70, li.active > a.u-button-style.u-text-grey-70, li.active > a.u-button-style.u-text-grey-70[class*="u-border-"], a.u-button-style.u-text-grey-70, a.u-button-style.u-text-grey-70[class*="u-border-"] {
    color: #4d4d4d !important;
}
.u-section-3 .u-text-7 {
    line-height: 1.2;
    margin: 15px 0 0;
}
.u-section-3 .u-container-layout-4 {
    padding: 50px 20px 0;
}
.u-valign-top {
    justify-content: flex-start;
}
.u-valign-middle, .u-valign-top, .u-valign-bottom {
    display: flex;
    flex-direction: column;
}
.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.u-section-3 .u-image-4 {
    width: 80px;
    height: 80px;
    background-image: url(https://ukrbustour.od.ua/images/nicepage-images/coin.png);
    background-position: 50% 50%;
    box-shadow: 0 7px 15px 0 rgba(128,128,128,0.8);
    margin: 0 auto;
}
.u-image-circle.u-image {
    border-radius: 50% !important;
}
.u-overlap.u-overlap-transparent .u-header, .u-image, .u-gradient {
    color: #444444;
}
.u-section-3 .u-text-8 {
    font-size: 1.16667rem;
    margin: 15px 0 0;
}
.u-body h1, .u-body h2, .u-body h3, .u-body h4, .u-body h5, .u-body h6 {
    padding: 0;
}
.u-text {
    word-wrap: break-word;
    position: relative;
}
.u-align-center {
    text-align: center;
}
.u-valign-middle > *, .u-valign-top > *, .u-valign-bottom > * {
    flex-shrink: 0;
}
.u-section-3 .u-text-9 {
    line-height: 1.2;
    margin: 15px 0 0;
}
p:not(.u-text-variant) {
    color: #444444;
}
.u-text {
    word-wrap: break-word;
    position: relative;
}
.u-align-center {
    text-align: center;
}
.u-valign-middle > *, .u-valign-top > *, .u-valign-bottom > * {
    flex-shrink: 0;
}
.u-sheet:not(.u-image):not(.u-video) > * {
    pointer-events: initial;
}
.u-section-3 .u-text-1 {
    font-size: 2.22222rem;
    margin: 50px 0 0;
}
.u-body h1, .u-body h2, .u-body h3, .u-body h4, .u-body h5, .u-body h6 {
    padding: 0;
}
.u-text-palette-1-base, li.active > a.u-button-style.u-text-palette-1-base, li.active > a.u-button-style.u-text-palette-1-base[class*="u-border-"], a.u-button-style.u-text-palette-1-base, a.u-button-style.u-text-palette-1-base[class*="u-border-"] {
    color: #192b52 !important;
}