<app-header-component></app-header-component>
<main>
    <section class="sidebar">
        <header>
            <h2>Settings</h2>
        </header>
        <ul class="ActionListWrap">
            <ng-container *ngIf="listTypesArray">
                <ng-container *ngFor="let listType of listTypesArray">
                    <li class="ActionListItem ActionListItem--navActive" (click)="selectType(listType) "
                        [class.active-tab]="listType.value === activeType.value">
                        <a class="ActionListContent ActionListContent--visual16">
                            <span class="ActionListItem-visual ActionListItem-visual--leading">
                                <app-icon>{{listType.icon}}</app-icon>
                            </span>
                            <span class="ActionListItem-label">
                                {{listType.label}}
                            </span></a>
                    </li>
                </ng-container>
            </ng-container>
        </ul>
    </section>

    <section class="main-wrapper">
        <ng-container [ngSwitch]="activeType.value">
            <ng-container *ngSwitchCase="'userProfile'">
                <form *ngIf="userForm?.controls" class="form-user">
                    <h2 id="public-profile-heading" class="Subhead-heading">Your profile </h2>
                    <div class="inputContainer">
                        <app-text-box [placeholder]="'Username'" [formControl]="userForm.controls['username']"
                            readonly></app-text-box>
                        <!-- надо залочить -->
                    </div>
                    <div class="inputContainer">
                        <app-text-box [placeholder]="'full_name'"
                            [formControl]="userForm.controls['fullName']"></app-text-box>
                        <p id="confirmnote"
                            *ngIf="userForm.controls['fullName'].value?.length > 0 && userForm.controls['fullName'].value?.length < 10 && !formGroup.controls['phone'].value?.match(FULLNAME_REGEX)">
                            must be at least 10 characters long
                        </p>
                    </div>
                    <div class="inputContainer">
                        <app-text-box [placeholder]="'phone'" [formControl]="userForm.controls['phone']"></app-text-box>
                        <p id="confirmnote"
                            *ngIf="userForm.controls['phone'].value?.length > 0 && !userForm.controls['phone'].value?.match(PHONE_REGEX)">
                            contact phone matching +xxxxxxxxxxxx
                        </p>
                    </div>
                    <div class="inputContainer">
                        <!-- *ngIf="!adminUserForm.controls['password']" -->
                        <app-text-box [placeholder]="'your password'" [isPassword]="true"
                            [formControl]="userForm.controls['password']"></app-text-box>
                    </div>
                    <div class="inputContainer">
                        <app-text-box [placeholder]="'new password'" [isPassword]="true"
                            [formControl]="userForm.controls['new_password']"></app-text-box>
                        <p id="pwdnote"
                            *ngIf="userForm.controls['new_password'].value?.length > 0 && !userForm.controls['new_password'].value?.match(PWD_REGEX)">
                            must be at least 8 characters long, must include uppercase letter, number, and a special
                            character (!@#$%^&*)
                        </p>
                    </div>
                    <div class="inputContainer">
                        <app-text-box [placeholder]="'confirm password'" [isPassword]="true"
                            [formControl]="userForm.controls['confirm_password']"></app-text-box>
                        <p id="confirmnote"
                            *ngIf="userForm.controls['confirm_password'].value?.length > 0 && userForm.controls['confirm_password'].value !== userForm.controls['new_password'].value">
                            must match the new password input field
                        </p>
                    </div>
                    <button type="button" (click)="changeUserData(userForm.value)" class="button"
                        [disabled]="!isValidUserForm(userForm)">
                        Save changes
                    </button>
                </form>
            </ng-container>
            <ng-container *ngSwitchCase="'yourBookings'">
                <ng-container *ngTemplateOutlet="bookingsTemplate">
                </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'bookings'">
                <ng-container *ngTemplateOutlet="bookingsTemplate">
                </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'usersActions'">
                <div>
                    <button type="button" class="button" *ngIf="!mode" (click)="mode = true">Add user </button>
                </div>
                <ng-container *ngIf="!mode">
                <app-text-box [placeholder]="'User ID'" [formControl]="searchForm.controls['search']"></app-text-box>
                <table >
                    <thead>
                        <tr>
                            <th>User Id</th>
                            <th>User login</th>
                            <th>Full Name</th>
                            <th>Phone Number</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of filteredBookings" (click)="selectUser(user)"
                            [class.active]="this.selectedUser === user">
                            <td>{{ user.user_id }}</td>
                            <td>{{ user.login }}</td>
                            <td>{{ user.full_name }}</td>
                            <td>{{ user.phone_number }}</td>
                            <td>{{ user.category }}</td>
                            <td>
                                <div>
                                    <button type="button" class="button" *ngIf="user.category !== 'administrator'"
                                        (click)="updateUser()">Update </button>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <button type="button" class="button" *ngIf="user.category !== 'administrator'"
                                        (click)="deleteUser()">Delete </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </ng-container>
                <ng-container *ngIf="userForm?.controls && mode">
                    <h2 id="public-profile-heading" class="Subhead-heading">Add user </h2>
                    <div class="inputContainer">
                        <app-text-box [placeholder]="'Username'" [formControl]="adminUserForm.controls['username']"
                            readonly></app-text-box>
                        <!-- надо залочить -->
                    </div>
                    <div class="inputContainer">
                        <app-text-box [placeholder]="'full_name'"
                            [formControl]="adminUserForm.controls['fullName']"></app-text-box>
                        <p id="confirmnote"
                            *ngIf="adminUserForm.controls['fullName'].value?.length > 0 && adminUserForm.controls['fullName'].value?.length < 10 && !adminUserForm.controls['phone'].value?.match(FULLNAME_REGEX)">
                            must be at least 10 characters long
                        </p>
                    </div>
                    <div class="inputContainer">
                        <app-text-box [placeholder]="'phone'"
                            [formControl]="adminUserForm.controls['phone']"></app-text-box>
                        <p id="confirmnote"
                            *ngIf="adminUserForm.controls['phone'].value?.length > 0 && !adminUserForm.controls['phone'].value?.match(PHONE_REGEX)">
                            contact phone matching +xxxxxxxxxxxx
                        </p>
                    </div>
                    <div class="inputContainer">
                        <!-- *ngIf="!adminUserForm.controls['password']" -->
                        <app-text-box [placeholder]="'your password'" [isPassword]="true"
                            [formControl]="adminUserForm.controls['password']"></app-text-box>
                    </div>
                    <div class="inputContainer">
                        <app-text-box [placeholder]="'new password'" [isPassword]="true"
                            [formControl]="c.controls['new_password']"></app-text-box>
                        <p id="pwdnote"
                            *ngIf="adminUserForm.controls['new_password'].value?.length > 0 && !adminUserForm.controls['new_password'].value?.match(PWD_REGEX)">
                            must be at least 8 characters long, must include uppercase letter, number, and a special
                            character (!@#$%^&*)
                        </p>
                    </div>
                    <div class="inputContainer">
                        <app-text-box [placeholder]="'confirm password'" [isPassword]="true"
                            [formControl]="adminUserForm.controls['confirm_password']"></app-text-box>
                        <p id="confirmnote"
                            *ngIf="adminUserForm.controls['confirm_password'].value?.length > 0 && adminUserForm.controls['confirm_password'].value !== adminUserForm.controls['new_password'].value">
                            must match the new password input field
                        </p>
                    </div>
                    <button type="button" (click)="changeUserData(adminUserForm.value)" *ngIf="adminUserForm" class="button"
                        [disabled]="!isValidUserForm(adminUserForm)">
                        Save changes
                    </button>
                    <button type="button" (click)="register(adminUserForm.value)" class="button"
                        [disabled]="!isValidUserForm(adminUserForm)">
                        Add User
                    </button>
                    <div><button type="button" class="button" (click)="mode = false">Close </button></div>
                </ng-container>
            </ng-container>
            <form *ngSwitchCase="'sellTickets'">
                <article>
                    <h2>Filter</h2>
                    <app-text-box [placeholder]="'Ticket ID'" [formControl]="searchForm.controls['search']"></app-text-box>
                </article>
                <table>
                    <thead>
                        <tr>
                            <th>Ticket Id</th>
                            <th>Journey Id</th>
                            <th>Arrival point</th>
                            <th>Journey Date</th>
                            <th>Client login</th>
                            <th>Ticket Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let booking of filteredBookings" (click)="selectBooking(booking)"
                            [class.active]="isSelected(booking)">
                            <td>{{ booking.ticket_id }}</td>
                            <td>{{ booking.journey_id }}</td>
                            <td>{{ booking.arrival_point }}</td>
                            <td>{{ booking.journey_date | date:'yyyy-MM-dd' }}</td>
                            <td>{{ booking.login }}</td>
                            <td>{{ booking.ticket_status }}</td>
                            <td>
                                <div>
                                    <button type="button" class="button" (click)="sellTicket(booking.ticket_id)"> Pay
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-container>
                    <app-text-box [placeholder]="'Trip ID'" [isPassword]="true"
                            [formControl]="addTicketForm.controls['trip_id']"></app-text-box>
                    <app-text-box [placeholder]="'User login'" [isPassword]="true"
                            [formControl]="addTicketForm.controls['login']"></app-text-box>
                </ng-container>
            </form>
            <ng-container *ngSwitchCase="'Trips'">

            </ng-container>
            <ng-container *ngSwitchCase="'Buses'">
                
            </ng-container>
            <ng-container *ngSwitchCase="'Drivers'">
                
            </ng-container>
            <ng-container *ngSwitchCase="'Timetables'">
                
            </ng-container>
            <ng-container *ngSwitchCase="'Journeys'">
                
            </ng-container>
            <ng-container *ngSwitchCase="'Statictics'">
                
            </ng-container>

        </ng-container>
    </section>
</main>
<!-- <ng-template #userTemplate let-formGroup>
    
  </ng-template> -->

<ng-template #bookingsTemplate>
    <form>
        <article>
            <app-text-box [placeholder]="'Booking ID'" [formControl]="searchForm.controls['search']"></app-text-box>
        </article>
        <table>
            <thead>
                <tr>
                    <th>Booking Id</th>
                    <th>Trip number</th>
                    <th>Bus Brand</th>
                    <th>Quantity of Seats</th>
                    <th>Arrival point</th>
                    <th>Journey Date</th>
                    <th>Departure Time</th>
                    <th>Booking Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of filteredBookings" (click)="selectBooking(booking)"
                    [class.active]="this.selectedBooking === booking">
                    <td>{{ booking.booking_id }}</td>
                    <td>{{ booking.trip_number }}</td>
                    <td>{{ booking.bus_brand }}</td>
                    <td>{{ booking.quantity_of_seats }}</td>
                    <td>{{ booking.arrival_point }}</td>
                    <td>{{ booking.journey_date | date:'yyyy-MM-dd' }}</td>
                    <td>{{ booking.departure_time }}</td>
                    <td>{{ booking.booking_status }}</td>
                    <td>
                        <div>
                            <button type="button" class="button"
                                *ngIf="booking.booking_status === 'Active' && userInfo.role !== 'cashier'"
                                (click)="deleteBooking()">Сancel</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</ng-template>