::-webkit-scrollbar-track {
    background: var(--app-background-color) !important;
}

main{
    display: flex;
}

.ActionListWrap {
    width: 100%;
    list-style: none;
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    width: 230px;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(243 229 234);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    height: calc(100vh - 60px);
    padding-top: 10px;
}

.sidebar header {
    padding: 5px 0 10px 0;
}

.sidebar header h2 {
    font-size: 22px;
}

.ActionListItem {
    padding: 5px 10px 5px 44px;
    list-style: none;
    position: relative;
    cursor: pointer;
}

.active-tab {
    font-weight: var(--base-text-weight-semibold, 600);
    
}

.ActionListContent {
    position: relative;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    align-items: center;
    border: none;
    text-align: left;
    touch-action: manipulation;
    transition: background 33.333ms linear;
    user-select: none;
    width: 100%;
}

a {
    text-decoration: none;
}

.ActionListContent>:not(:last-child) {
    margin-right: var(--control-medium-gap, 8px);
}
.ActionListItem-action, .ActionListItem-visual {
    fill: var(--color-fg-muted);
    align-items: center;
    color: var(--color-fg-muted);
    display: flex;
    min-height: var(--control-medium-lineBoxHeight, 20px);
    pointer-events: none;
}

.ActionListItem-visual--leading {
    grid-area: leadingVisual;
}

.ActionListItem-label {
    color: var(--color-fg-default);
    font-size: var(--text-body-size-medium, 14px);
    grid-area: label;
    line-height: var(--text-body-lineHeight-medium, 1.42857);
    position: relative;
}

.ActionList-sectionDivider:empty {
    display: block;
    height: 1px;
    padding: 0;
    margin: 7px -8px 8px;
    list-style: none;
    background: var(--color-action-list-item-inline-divider);
    border: 0;
}

.ActionList-sectionDivider:empty {
    margin-block-end: var(--base-size-8, 8px);
    margin-block-start: calc(var(--base-size-8, 8px) - var(--borderWidth-thin, 1px));
    margin-inline: calc(var(--base-size-8, 8px)*-1);
}

.ActionList-sectionDivider .ActionList-sectionDivider-title {
    font-size: 12px;
    font-weight: var(--base-text-weight-semibold, 600);
    color: var(--color-fg-muted);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

li:hover {
    background: rgb(162 196 219);
}


/* forms */
.main-wrapper {
    padding-top: 30px;
    width: 100%;
    background-color: var(--app-background-color);
}

.form-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 154px;
}

.form-user .button {
    padding: 8px 0;
}

form article {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    padding-left: 24px;
}

form article h2 {
    padding: 0 10px;
}

.inputContainer{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.button{
    padding: 8px 0;
    width: 230.6px;
}

.add-form {
    display: flex;
    width: 100%;
    padding: 20px 0 20px 24px;
}

.add-ticket-form {
    display: flex;
    width: 100%;
    padding: 20px 0 20px 10px;
}

.add-ticket-form app-text-box:not(.add-ticket-form app-text-box:last-child),
.add-ticket-form button {
    margin-right: 40px;
}

.add-ticket-form button {
    width: 110px;
}

.add-ticket-form button:not(.add-ticket-form button:last-child) {
    margin-right: 20px;
}


/* tables */
.table-wrapper {
    max-height: calc(100vh - 214px);
    overflow: auto;
}

table {
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
    text-align: left;
    
}

tr {
    height: 40px;
    cursor: pointer;
}

table tbody tr:hover {
    background-color: #e9e9e5e3;  
}

thead {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}


th {
    padding: 10px;
}

th:last-child {
    width: 138px;
}

td {
    padding: 10px;
}

th:first-child {
    padding-left: 24px;
}

td:first-child {
    padding-left: 24px;
}
  
tr button{
    padding: unset;
    display: none;
    height: 20px;
    width: 90px;
}

tr.active button {
    display: block;
}
  
tr.active {
    background-color: #f0f6ff;
}

.user-table th:nth-last-child(2) {
    width: 110px;
}


.green {
    background-color: green !important;
}

.red {
    background-color: red !important;
}

.no-data {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-data span {
    color: #918d8d;
}