<form *ngIf="mode === 'view' && timetables">
    <article>
        <app-text-box [placeholder]="'Timetable ID'" [formControl]="searchForm.controls['search']"></app-text-box>
    </article>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Timetable Id</th>
                    <th>Departure time</th>
                    <th>Arrival time</th>
                    <th>Bus ID</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let timetable of filteredTimetables" (click)="selectTimetable(timetable)"
                    [class.active]="this.activeTimetable === timetable">
                    <td>{{ timetable.timetable_id }}</td>
                    <td>{{ timetable.departure_time }}</td>
                    <td>{{ timetable.arrival_time }}</td>
                    <td>{{ timetable.bus_id }}</td>
                    <td>
                        <div>
                            <button type="button" class="button"
                                (click)="updateTimetable(timetable)">Update</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="add-form">
        <button type="button" class="button" (click)="addTimetable()">Add timetable</button>
    </div>
</form>
<app-timetables-form *ngIf="['create', 'edit'].includes(mode)" [form]="form" [mode]="mode" (closeEmitter)="closeForm()"></app-timetables-form>