<form *ngIf="mode === 'view' && buses">
    <article>
        <app-text-box [placeholder]="'Bus ID'" [formControl]="searchForm.controls['search']"></app-text-box>
    </article>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Bus Id</th>
                    <th>Bus number</th>
                    <th>Bus brand</th>
                    <th>Number of seats</th>
                    <th>Driver ID</th>
                    <th>Trip ID</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bus of filteredBuses" (click)="selectBus(bus)"
                [class.active]="this.activeBuses === bus">
                <td>{{ bus.bus_id }}</td>
                <td>{{ bus.bus_number }}</td>
                <td>{{ bus.bus_brand }}</td>
                <td>{{ bus.number_of_seats }}</td>
                <td>{{ bus.driver_id }}</td>
                <td>{{ bus.trip_id }}</td>
                <td>
                    <div>
                        <button type="button" class="button"
                            (click)="updateBus(bus)">Update</button>
                    </div>
                </td>
                <td>
                    <div>
                        <button type="button" class="button red"
                            (click)="deleteBus(bus.bus_id)">Delete</button>
                    </div>
                </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="add-form">
        <button type="button" class="button" (click)="addBus()">Add bus</button>
    </div>
</form>
<app-buses-form *ngIf="['create', 'edit'].includes(mode)" [form]="form" [mode]="mode" (closeEmitter)="closeForm()"></app-buses-form>