<div class="app">
    <section class="sectionReg">
      <div class="regWrapper">
        <!-- <p [ngClass]="errorMessage ? 'errmsg' : 'offscreen'" aria-live="assertive">
          {{errorMessage}}
        </p> -->
        <h1 class="formName">sign in</h1>
        <form class="formReg">
          <div class="inputContainer">
            <app-text-box ngDefaultControl [formControl]="loginForm.controls['username']" ></app-text-box>
            <label htmlFor="username" [class.labelHasContent]="loginForm.get('username')?.value" required>
              username:
            </label>
          </div>
          <div class="inputContainer">
            <app-text-box [isPassword]="true" ngDefaultControl [formControl]="loginForm.controls['password']" ></app-text-box>
            <label htmlFor="password" [class.labelHasContent]="loginForm.get('password')?.value">
              password:
            </label>
          </div>
          <button type = "button" (click)="login(loginForm.value)" class="submitBtn">sign in</button>
        </form>
      </div>
      <footer>
        <div>
          <span>
            <a class="logInLink" [routerLink]="'/main'">
              Back to main
            </a>
          </span>
        </div>
        <div>
          <p class="alreadyText">
            <span class="line">
              <a class="logInLink" [routerLink]="'/registration'">
                sign up
              </a>
            </span>
          </p>
        </div>
      </footer>
    </section>
  </div>